#x0 {
    background-color: brown;
}


#x1 {
    background-color: red;
}

#x3 {
    background-color: blue;
}

table,
td {
    border: solid 1px black;
    /* padding: 15px 30px; */
    width: auto;
}

td {
    /*padding: 20px 40px;*/
    text-align: center;
}

tr {
    width: auto;
}



#x2 {
    background-color: aqua;
}

#x4 {
    background-color: blueviolet;
}

#x6 {
    background-color: antiquewhite;

}